@import "../../styles/global.scss";

.product-card {
  width: 100vw;
  height: 100svh;
  position: relative;

  &__link {
    display: block;
    width: 40vw;
    height: 45vw;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;

    @include mq($laptop) {
      width: 100vw;
      height: 100lvh;
    }
  }

  &__main-image {
    width: 100%;
    height: 100%;
    transform: scale(1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.4s ease-in-out;
    
    &:hover {
      @include mq($tablet, '>') {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    position: absolute;
    left: 35%;
    bottom: -10%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 2;
    color: #655f57;

    
    @include mq($laptop) {
      transform: translate(-50%, -50%);
      left: 50%;
      bottom: 20%;
      max-width: 80vw;
      color: $c-white-secondary
    }
  }
}

