@import "./utils/fonts";
@import "./utils/typography";
@import "./utils/variables";
@import "./utils/mixins";

body {
  margin: 0;
  background-color: $green-primary;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

.app {
  &__section {
    overflow: hidden;
  }
}