@font-face {
  font-family: FormulaCondensed;
  src: url("../../../public/font/FormulaCondensed-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: FormulaCondensed;
  src: url("../../../public/font/FormulaCondensed-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: RightGrotesk;
  src: url("../../../public/font/PPRightGrotesk-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

