@import "./mixins";

.big-text {
  font-family: FormulaCondensed, sans-serif;
  font-size: 12vw;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  text-wrap: nowrap;
  line-height: 110%;

  @include mq($laptop) {
    font-size: 24vw;
  }
}

%h1 {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 7vw;
  letter-spacing: -0.2vw;
  font-style: normal;
  font-weight: normal;

  @include mq() {
    font-size: 8vw;
  }
}

%body-text {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 1.2vw;
  // letter-spacing: -0.1vw;
  letter-spacing: normal;
  font-style: normal;
  font-weight: normal;

  @include mq() {
    font-size: 4vw;
  }
}

%link {
  font-family: FormulaCondensed, sans-serif;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;

  @include mq($laptop) {
    font-size: 6vw;
  }
}

.body-text {
  &-2 {
    font-family: FormulaCondensed, sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.1vw;

    @include mq($laptop) {
      font-size: 6vw;
    }
  }
  
  &-3 {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0vw;

    @include mq($laptop) {
      font-size: 6vw;
    }
  }
}

a {
  @extend %link;
}

body {
  @extend %body-text;
}

h1 {
  @extend %h1;
}
