@import "./mixins";

.big-text {
  font-family: FormulaCondensed, sans-serif;
  font-size: 12vw;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  text-wrap: nowrap;
  line-height: 110%;

  @include mq($laptop) {
    font-size: 24vw;
  }
}

%body-text {
  font-family: RightGrotesk, sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
  font-style: normal;
  font-weight: lighter;

  @include mq() {
    font-size: 4vw;
  }
}

%link {
  font-family: FormulaCondensed, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  
  @include mq($laptop) {
    font-size: 6vw;
  }

}

a {
  @extend %link;
}

body {
  @extend %body-text;
}
