$c-white: #fff;
$c-black: #000;
$c-white-secondary: #faebd7;
$red-primary: #ff0025;
$green-primary: #e8ffc3;

/* -- Media Query Breakpoints -- */
$phone: 320;
$phablet: 556;
$tablet: 768;
$tablet-large: 1024;
$laptop: 1199;
$desktop: 1440;
